@import url('https://fonts.googleapis.com/css2?family=Delius&family=Megrim&family=Stick+No+Bills&display=swap');
p,h3,h5,h2,h1, button, a{
    font-family: 'Delius', cursive;
}
.nav-link{
    font-family: 'Delius', cursive;
}
h5,h2{
    color: rgba(148, 24, 8, 0.925);
}
.formulario{
    font-family: 'Delius', cursive;
}
#judas{
    width: 70px;
    justify-content: center;
    align-items: center;
}
/* navbar */
.img-logo{
    width: 90px;
    height: 90px;
    object-fit: fill;
    object-position: center;
    /* fit para que se contenga en un tamaño sin deformarse */
}
.img-car{
    height: calc(100vh - 76px) ;
    /* alli hacemos un calculo para que la foto este alta del tamaño de la pantalla y le restamos el tamaño de la navbar de esa */
    object-fit:fill;
    object-position: center;
}
#txtn{
    color: #7eb8da;
}
#txtn1{
    color: #ffa5d8;
}
#txtn2{
    color: #92ddea;
}
#txtn3{
    color: rgb(186, 62, 190);
}
#fuego{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(62, 132, 190);
}
.fuego{
    width: 200px;
    height: 180px;
    object-fit: fill;
    object-position: center;
}
.pantalla{
    position: absolute; /* para que se salga del flujo, absolute, w para que ocupe todo el espacio del carrusel y el height, display flex para que podamos alinearlo y justificarlo al centro, justify para horizontal, align para vertical y text align para centrar el texto*/
    z-index: 1;
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cuadro{
border-radius: 10px;
background-color: rgba(114, 107, 107, 0.795);
padding: 20px;
color: rgba(255, 255, 255, 0.849);
width: 50vw; /* 50vw para que no ocupe todo el ancho */
}

/* ventana modal */


.fondo_transparente1{
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal1{
    background: linear-gradient(0deg,rgb(253, 253, 253) 80%, rgb(15, 121, 134) 20%);
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    z-index: 1;
}
.modal_cerrar1{
    background: rgb(253, 253, 253);
    position: absolute;
    right: 10px;
    color: rgb(15, 121, 134);
    top: 8px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#paciente1{
    font-size: 17px;
    text-align: center;
}
.modal_titulo1{
    color: white;
    font-size: 25px;
}
.modal_mensaje1{            
   padding: 5px 50px;
}
.modal_botones1{      
    width: 100%;    
   background: rgb(253, 253, 253);
   border-top:whitesmoke 1px;
   display: flex;
   justify-content: space-evenly;
   padding-bottom: 5px;
   border-radius: 30px;
   font-family: 'Montserrat', sans-serif;
}

.boton1{
    background: rgb(15, 121, 134);
    padding: 8px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 25px;
    border:1px solid rgb(235, 234, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.boton1:hover{
    color: rgb(15, 121, 134);
    color: rgb(15, 121, 134);
}
#form-med{
    margin-top: 5px;
}
#labelemail1{
    margin: 7px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
} 

#labelpass1{
    margin: 7px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
#labelcheck1{
    margin-left: 35px;
    font-family: 'Montserrat', sans-serif;
}
#form-pass1{
    margin-left: 15px;
    border-radius: 10px;
    height: 25px;
}
#form-check1{
    margin-left: 15px;
}
#form-email1{
    border-radius: 10px;
    height: 25px;
    margin-left: 15px;
}
#modal-img1{
    height: 100px;
    width: 100px;
}






.video-iframe{
    width: 100%;
    height: 250px;
}
#video{
    margin: 2px;
    background-color: #17a2b8;   
}
.mapa-iframe{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;  
}
.chopo{
    justify-content: center;
}
#mot{
    align-items: center;
    justify-content: center;
}
#footer{
    background-color: rgb(35, 130, 182);
}
#social{
    height: 25px;
    width: 25px;
    margin-top: 25px;
}
